|===

|Name|Value Type|Search Type
{{#fields}}
|{{#tableCellContent}}{{name}}{{/tableCellContent}}
|{{#tableCellContent}}{{valueType}}{{/tableCellContent}}
|{{#tableCellContent}}{{searchFieldType}}{{/tableCellContent}}
{{/fields}}

|===
