# DEFAULT-SEARCH-BOOSTS
ec:{query}^1.1
organism_name:{query}^2.0
protgene_default:{query}^3.0
mnemonic_default:{query}^10.0
organism_id:9606^3.0
organism_id:(9606 10090 10116 9913 7955 7227 6239 44689 3702 39947 83333 224308 559292)^2.0
reviewed:true^8.0

# DEFAULT-SEARCH-BOOST-FUNCTIONS
annotation_score

# ADVANCED-SEARCH-BOOSTS
organism_id:9606^3.0
reviewed:true^8.0

# ADVANCED-SEARCH-BOOST-FUNCTIONS
annotation_score