# SEARCH-BOOSTS
ec:{query}^1.1
organism_name:{query}^2.0
protgene_default:{query}^3.0
id_default:{query}^3.5
id_inactive:{query}^2.0
organism_id:9606^4.0
organism_id:(10090 10116 9913 7955 7227 6239 44689 3702 39947 83333 224308 559292)^1.8
reviewed:true^5.0

# SEARCH-BOOST-FUNCTIONS
annotation_score

# QUERY-FIELDS
accession,content,ec,id_default,id_inactive,keyword,virus_host_name,virus_host_id,taxonomy_name,taxonomy_id,protgene_default,organelle,database,lit_title,lit_author,lit_pubmed,lit_journal,transposon,strain,plasmid,tissue,scope,xref,chebi,rhea,family

# STOP-WORDS
a,an,and,are,as,at,be,but,by,for,if,in,into,is,it,no,not,of,on,or,such,that,the,their,then,there,these,they,this,to,was,will,with,which